<!DOCTYPE html>
{% extends 'index.html' %}
{% block title %}Intership{% endblock %}
{% block content %}
{% load static %}

<h6></h6>
<div class="row">
    <div class="col">
        <h3>Intership</h3>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
        <a href="{% url 'post-an-internship' %}"><button type="button" class="btn btn-outline-primary">Want to post for
                an Internship?</button></a>
    </div>
</div>
<hr>
{% if internships|length %}

{% for intern in internships %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        {% if intern.9 %}
        <img src="../../{{intern.9}}" height="40px"
            style="border: 3px solid lightblue; padding: 0.1em; border-radius: 50%;"
            alt="user image" />&ensp;{{intern.13}}
        {% else %}
        <img src="{% static 'others/person.svg' %}" height="32px" style="border-radius: 50%;"
            alt="user image" />&ensp;{{intern.13}}
        {% endif %}
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <h4>{{intern.14}}&ensp;[{{intern.15}}]</h4>
    </div>
    <div class="col-2"><button type="button" class="btn btn-light disabled"
            style="margin-bottom: 0.3em;">&ensp;{{intern.17}}&ensp;</button></div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <p
            style="overflow: hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
            {{intern.16}}</p>
    </div>
    <div class="col-2"><button type="button" class="btn btn-outline-primary"
            onclick="location.href='/view-internship/{{intern.11}}/'">&ensp;&ensp;View&ensp;&ensp;</button>
    </div>
    <div class="col-1"></div>
</div>
<hr>
{% endfor %}
{% else %}
<div class="custom-center">
    <br>
    <h5> Sorry! No job post found.</h5>
</div>

{% endif %}

{% endblock %}