<!DOCTYPE html>
{% extends 'index.html' %}
{% block title %}View Job{% endblock %}
{% block content %}
{% load static %}

{% for job in jobs %}

<h6></h6>
<div class="row">
    <div class="col-11">
        <h3>View Job</h3>
    </div>
    {% if job.6 == request.session.email %}
    <div class="col-1">
        <button type="button" class="btn btn-outline-primary" style="margin-bottom: 0.4em;"
            onclick="location.href='/edit-job/{{job.11}}/'">Edit Post</button>
    </div>
    {% else %}
    {% if request.session.email %}
    <div class="col-1">
        <a href="{{job.22}}" target="_blank"><button type="button" class="btn btn-outline-primary"
                style="margin-bottom: 0.4em;">Apply
                Now</button></a>
    </div>
    {% else %}
    <div class="col-1">
        <a href="{% url 'throwtologin' %}"><button type="button" class="btn btn-outline-primary"
                style="margin-bottom: 0.4em;">Apply
                Now</button></a>
    </div>
    {% endif %}
    {% endif %}
    <hr>
</div>

<div class="row">
    <div class="col-12">
        <h4>{{job.15}}&nbsp;[{{job.14}}]&nbsp;</h4>
    </div>
</div>
<br>
<div class="row" style="align-items: center;">
    <div class="col-9">
        {% if job.9 %}
        <a href="/user-profile/{{job.0}}/"><img src="../../{{job.9}}" height="40px"
                style="border: 3px solid lightblue; padding: 0.1em; border-radius: 50%;"
                alt="user image" />&ensp;{{job.13}}</a>
        {% else %}
        <a href="/user-profile/{{job.0}}/"><img src="{% static 'others/person.svg' %}" height="40px"
                style="border-radius: 50%;" alt="user image" />&ensp;{{job.13}}</a>
        {% endif %}
    </div>
    <div class="col-3" style="text-align: end;">
        {{job.23}}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-light disabled"
            style="margin-right: 1em;">&ensp;{{job.17}}&ensp;&ensp;&ensp;|&ensp;&ensp;&ensp;{{job.18}}&ensp;&ensp;&ensp;|&ensp;&ensp;&ensp;<b>Salary:</b>&ensp;{{job.20}}&nbsp;-&nbsp;{{job.21}}/=&ensp;&ensp;&ensp;|&ensp;&ensp;&ensp;{{job.19}}&ensp;</button>
    </div>
</div>
<hr>
<p style="white-space: pre-wrap;">{{job.16}}</p>

{% endfor %}

{% endblock %}