<!DOCTYPE html>
{% extends "index.html"%}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="continer">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        <h4></h4>
        <h4>Change Password</h4>
        <hr>
        {% if messages %}

        {% for result in messages %}
        {% if result.tags == "error" %}
        <div class="alert alert-danger">
            {{ result }}
        </div>
        {% else %}
        <div class="alert alert-success">
            {{ result }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="container" style="margin-top: 2em; margin-bottom: 25em;">
            <div class="row" style="align-content: center;">
                <div class="col-2">
                    <label for="new_password" style="padding-top: 0.2em;">Password</label>
                </div>
                <div class="col-5">
                    <input type="password" name="new_password" class="form-control">
                </div>
                <div class="col-3">
                </div>
            </div>
            <h4></h4>
            <div class="row" style="align-content: center;">
                <div class="col-2">
                    <label for="reconfirm_password" style="padding-top: 0.4em;">Confirm Password</label>
                </div>
                <div class="col-5">
                    <input type="password" name="reconfirm_password" class="form-control">
                </div>
                <div class="col-3">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 2em;">Submit</button>

            <input type="hidden" name="user_id" value="{{user_id}}">
        </div>

    </form>
</div>

{% endblock %}